/* 2372031 Jethro-A B */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

/* Font Extenal */
@font-face {
    font-family: Avenir;
    src: url(/font/avenir-lt-pro-cufonfonts/AvenirLTProBlack.otf);
}

@font-face {
    font-family: Avenir-Medium;
    src: url(/font/avenir-lt-pro-cufonfonts/AvenirLTProMedium.otf);
}

/* End Font External Code */



/* NavBar Line */
header {
    position: sticky;
    top: 0;
}

img.logo-navbar {
    height: 51px;
    padding-left: 40px;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, .5);
    font-size: 15px;
}

ul.ul-navbar {
    display: flex;
    align-items: center;
    list-style: none;
}


a.a-nav {
    text-decoration: none;
    font-family: Avenir;
    color: rgb(32, 50, 77);
    padding: 0px 20px;
}


.menu-icon {
    font-size: 30px;
    display: none;
}


ul.dropdown li {
    display: block;
    background-color: bisque;
    margin: 2px;
}

ul.dropdown {
    width: auto;
    position: absolute;
    z-index: 9999;
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    z-index: 9999;
    list-style: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul.dropdown-content a {
    text-decoration: none;
    font-family: Avenir;
    color: rgb(32, 50, 77);
    ;
}


@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }

    ul.ul-navbar {
        display: block;
        width: 100%;
        padding-top: 20px;
        padding-left: 20px;
    }

    li.li-navbar {
        padding-bottom: 20px;
    }

    ul.hidden {
        display: none;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }
}

/* End Navbar */


/* Section Head Line */
div.title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;
}

div.title>h1 {
    font-size: 80px;
}

div.title {
    padding-bottom: 200px;
    padding-top: 15%;
    padding-right: 50px;
    text-align: right;
}

div.jumboTron {
    background-image: url(/images/Background-image/kincir-air.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* End Section Head Line */



/* Section Body Line */
div.backGround-content {
    margin: 50px;
    display: grid;
    grid-template-areas: "logo deskripsi"
        "visi misi";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
}


/* Div Image Siapa Kami */
div.img-Siapa-Kami {
    padding-left: 15px;
    grid-area: logo;
}

img.img-Siapa-Kami-Main {
    width: 574px;
}

/* End Div Image Siapa Kami */

/* Deskripsi */
div.content {
    padding-top: 21%;
    padding-right: 15px;
    grid-area: deskripsi;
}

div.content>h3 {
    color: rgb(32, 50, 77);
    font-size: 48px;
    font-family: Avenir;
}

div.content p {
    font-family: Avenir-Medium;
    font-size: 20px;
    width: 535px;
}

/* Section Tombol Kontak & Produk */
div.tombol {
    display: flex;
}

div.tombolKontak {
    margin-right: 41px;
    padding: 12px 24px;
    background-color: rgb(1, 51, 73);
    color: white;
    border-radius: 20px;
    font-size: 15px;
}

a.kontak {
    text-decoration: none;
    font-family: Avenir-Medium;
    font-size: 15px;
    color: white;
}

div.tombolProduk {
    padding: 12px 24px;
    background-color: rgb(20, 123, 209);
    color: white;
    border-radius: 20px;
    font-size: 15px;
}

a.produk {
    text-decoration: none;
    font-family: Avenir-Medium;
    font-size: 15px;
    color: white;
}

/* End Tombol Kontak / Produk */
/* End Deskripsi */


/* Visi & Misi */
div.visi {
    width: 570px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    grid-area: visi;
}

div.visi>h3 {
    font-size: 48px;
    font-family: Avenir;
    color: rgb(32, 50, 77);
}

div.visi p {
    font-family: Avenir-Medium;
    font-size: 20px;
    width: 550px;
}


div.misi {
    width: 570px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    grid-area: misi;
}

div.misi>h3 {
    font-size: 48px;
    font-family: Avenir;
    color: rgb(32, 50, 77);
}

div.misi p {
    font-family: Avenir-Medium;
    font-size: 20px;
    width: 550px;
}

/* End Visi & Misi */


div.space {
    height: 50px;
}


/* Section Slide */
div.slide-container {
    width: 100%;
    padding: 0 40px;
    margin: auto;
}

ul.ul-slide {
    text-align: center;
}

li.li-slide {
    display: inline;
    padding: 0px 10px;
}

/* End Section Slide */



/* Footer Line*/
footer {
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-template-areas: "logo footer-nav"
        "alamat kosong"
        "contact jumbofont"
        "line line";
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    background-color: black;
}

div.footer-logo {
    grid-area: logo;
}

img.footer-logo {
    height: 90px;
}

div.footer-nav {
    grid-area: footer-nav;
}

ul.footer-ul {
    text-align: right;
}

li.footer-li {
    display: inline;
    list-style: none;
    font-family: Avenir;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 19px;
}

a.footer-a {
    text-decoration: none;
    color: white;
}

a.footer-a:hover {
    color: rgb(0, 29, 255);
}

div.alamat {
    grid-area: alamat;
}

p.p-alamat {
    font-family: Avenir-medium;
    font-size: 25px;
    color: white;
}

div.footer-contact {
    grid-area: contact;
}

p.p-contact {
    font-family: Avenir;
    color: white;
}

div.jumboFont {
    grid-area: jumbofont;
}

h1.h1-jumboFont {
    text-align: right;
    font-family: Avenir;
    letter-spacing: 5px;
    font-size: 37px;
    color: white;
    padding-bottom: 10px;
}

div.line {
    grid-area: line;
    color: white;
}

/* End Footer */
